@use '../../../styles.scss' as *;

:host {
    width: 90%;
    max-width: 75vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    background-color: $teaGreen;
    min-height: 200px;
    overflow: scroll;
    @include styledBorder
}

main {
    padding: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    header {
        display: flex;
        flex-direction: column;

        span {
            text-align: center;
        }

    }
}

section {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}