<main>
    <section>
        <h2>📬 Fale com a gente</h2>
        <p>Tem alguma dúvida, sugestão ou crítica? Estamos aqui para ajudar!</p>
    </section>

    <section>
        <p>
            ✉️ E-mail:
            <a href="mailto:marcelomodesti1988&#64;gmail.com" target="_blank" rel="noopener">
                marcelomodesti1988&#64;gmail.com
            </a>
        </p>

        <p>
            📱 Whatsapp:
            <a href="https://wa.me/5511941760181" target="_blank" rel="noopener">
                +55 11 9 4176-0181
            </a>
        </p>
    </section>
</main>