@use '../../../styles.scss' as *;

main {
    width: auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    @include styledBorder;
    overflow: scroll;
    gap: 8px;
    max-width: 280px;
    overflow: scroll;
    background-color: $teaGreen;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border-bottom: 1px solid $darkViolet;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.conteudo-colunas {
    display: flex;
    flex-direction: column;
}

.conteudo-linha {
    display: flex;
    justify-content: space-between;
}

.botao-edit {
    align-self: start;
    width: fit-content;
    padding: 0 12px;
}

.botao-edit {
    background-color: $pink;
    color: $teaGreen;
    font-weight: 600;
    box-sizing: border-box;
    border-radius: 5px;



    &:disabled {
        cursor: not-allowed;
    }
}