.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    /* fundo escuro transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    /* bem alto para cobrir tudo */
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #007bff;
    /* azul ou sua cor primária */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animação de rotação */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}